<!DOCTYPE html>
<!--
  %FILEHEADING%
  %FILEHEADINGULINE%
 
  Description:           %HERE%
  Version:               1.0.0
  Author:                %USER% <%GITHUBUSER%>
  Creation Date:         %DATE%
  Modification Date:     %DATE%
  License:               %LICENSE%

-->

<!-- 
    TODO: 
    - Add manifest
    - Add favicon
    - Add stylesheet
    - Fill out metadata fields
    - Add js libraries (React, Node, Bootstrap, jQuery, Google Analytics..)
    - Display message for outdated browsers
    - Add robots.txt, humans.txt, SiteMap.xml, .htaccess, 
    - Add 404 page
    - Add copyright info, legal info, contact info, license info
-->

<html itemscope="" itemtype="TODO" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>%CLASS%</title>
        <meta name="author" content="%USER%">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="">
        <link rel="apple-touch-icon" href="">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <p>Hello world!</p>
    </body>
</html>

<!-- vim: set ts=4 sw=4 tw=79 fdm=manual et : -->
