<!DOCTYPE html>
<!--%FILEHEADING%
    %FILEHEADINGULINE%
    
    Version:               1.0.0
    Author:                %USER%
    Creation Date:         %DATE%
    License:               %LICENSE%

    Description
    ------------
    Short summary of this document here.%HERE%
-->

<html itemscope="" itemtype="TODO" lang="en">
    <head>
        <title>%CLASS%</title>
        <meta charset="utf-8">
        <meta name="description" content="TODO">
        <meta name="author" content="%USER%">
        <meta name="keywords" content="TODO">
        <meta name="robots" content="TODO">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        %HERE%
    </body>
</html>
