# Global git configuration file
# These were used as a template:
# https://gist.github.com/pksunkara/988716
# https://gist.github.com/huytd/78c676a797f81eb08cdedf5400e1b6a3
[color]
    ui = auto
[core]
	editor = nvr --remote-wait-silent
    whitespace = blank-at-eol,space-before-tab,tab-in-indent,trailing-space,tabwidth=4

    # [!] Ignore mode changes [!]
    fileMode = false

[credential]
	helper = store
[difftool]
    prompt = false
[diff]
    tool = vimdiff
[instaweb]
    browser = firefox
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[web]
    browser = firefox
[rerere]
    enabled = 1
    autoupdate = 1
[user]
	name = Michael De Pasquale
	email = mickdp1@gmail.com
